@page "/"
<h1>The Vigenere cipher encryption and decryption</h1>

<p>Hi! This web application is a coursework of the additional course "NowYouSeeSharp" held at ITMO University by First Line Software. This app is designed to encrypt and decrypt text using the Vigenere cipher. It can also work with docx and txt files. Try it!</p>
<p>P.S. The answer to the riddle is "скорпион".</p>

<img src="/Pepe.jpg" alt="">