@inherits LayoutComponentBase

<MatAppBarContainer>
    @* Header *@
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@(e => ButtonClick())"></MatIconButton>
                <MatAppBarTitle>Vigenere Messenger</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <LoginDisplay />
                <MatIconButton Link="https://github.com/pimushkin/VigenereCipher" Style="display: flex; justify-content: center">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        @* Naviagation Drawer *@
        <MatDrawerContainer>
            <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                @* List *@
                <MatNavMenu>
                    <MatNavSubMenu>
                        <MatNavItem href=""><MatIcon Icon="home"></MatIcon>&nbsp;Home</MatNavItem>
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false"><MatIcon Icon="translate"></MatIcon>&nbsp;Vigenere Solver</MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem href="translate"><MatIcon Icon="text_format"></MatIcon>&nbsp;Text</MatNavItem>
                            <MatNavItem href="docs"><MatIcon Icon="insert_drive_file"></MatIcon>&nbsp;Documents</MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                    <AuthorizeView>
                        <Authorized>
                            <MatNavSubMenu>
                                <MatNavSubMenuHeader>
                                    <MatNavItem AllowSelection="false"><MatIcon Icon="chat"></MatIcon>&nbsp;Messenger</MatNavItem>
                                </MatNavSubMenuHeader>
                                <MatNavSubMenuList>
                                    <MatNavItem href="new"><MatIcon Icon="add"></MatIcon>&nbsp;Compose</MatNavItem>
                                    <MatNavItem href="inbox"><MatIcon Icon="inbox"></MatIcon>&nbsp;Inbox</MatNavItem>
                                    <MatNavItem href="sent"><MatIcon Icon="send"></MatIcon>&nbsp;Sent Message</MatNavItem>
                                </MatNavSubMenuList>
                            </MatNavSubMenu>
                        </Authorized>
                    </AuthorizeView>
                </MatNavMenu>
            </MatDrawer>
        </MatDrawerContainer>
        @* Main content *@
        <MatDrawerContent Style="width: 100vw">
            <div class="content px-5 container" style="max-width: 1500px">
                @Body
            </div>
        </MatDrawerContent>
    </MatAppBarContent>
</MatAppBarContainer>

@code
{
    bool Opened { get; set; }

    void ButtonClick()
    {
        Opened = !Opened;
    }
}